<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">
        <link rel="stylesheet" href="../styles/sig-projet-style.css">
        <script type="module" src="../js/extract.js"></script>
      </head>
    <body>
        <div id="nav">
            <nav>
                <ul>
                    <li><a href="orleans.html">Orléans</a></li>
                    <li><a href="bourges.html">Bourges</a></li>
                    <li><a href="chateauroux.html">Châteauroux</a></li>
                    <li><a href="extract.html">Extraction des données</a></li>
                </ul>
            </nav>
        </div>
        <br>
        <br>
        <h2>Extraction des services</h2>
        <div id="extract">
            <p>Veuillez choisir un format d'extraction de services.</p>
            <div class="extract-buttons-container">
                <button id="csv">CSV</button>
                <button id="geojson">GEOJSON</button>
            </div>
        </div>
    </body>
</html>