<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">
    <link rel="stylesheet" href="../styles/sig-projet-style.css">
</head>
<body>
  <div id="nav">
      <nav>
          <ul>
              <li><a href="orleans.html">Orléans</a></li>
              <li><a href="bourges.html">Bourges</a></li>
              <li><a href="chateauroux.html">Châteauroux</a></li>
              <li><a href="extract.html">Extraction des données</a></li>
          </ul>
      </nav>
  </div>
  <div id="map" class="map"></div>
  <div id="popup" class="popup"></div>
  <script type="module" src="../main.js"></script>
  <div id="searchBar">
    <label for="nomRecherche">Recherche par nom:</label>
    <input type="text" id="nomRecherche" name="nomRecherche" required>
    <button id="rechercheBatiment" type="submit">🔎</button>
  </div>
</body>